body{
    background-color: aqua;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 2;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    font-size: x-large;
}

.start{
    text-align: center;
}

h1{
    color: blue;
    margin: 0;
    padding: 0;
}

.list{
    display: grid;
    place-items: center;
    list-style-type: none;
}
h4{
    margin: 0;
    height:1%;
}