{{block "review" .}}
<div id="review_list" hx-swap-oob="beforeend">
  <div class="flex w-full max-w-lg items-stretch space-x-3 rounded-md bg-slate-300 p-2">
    <img
      src="/static/images/preview.jpg"
      class="max-h-20 max-w-20 self-center"
      alt="get alternate description from backend"
    />
    <div class="flex w-full flex-col justify-between">
      <div class="text-2xl">{{.AlbumName}}</div>
      <div class="self-end p-2">{{.Score}}</div>
    </div>
  </div>
</div>
{{end }} {{block "score error" .}}
<input type="text" name="Score" class="rounded-md bg-slate-500 p-2" id="score_input" hx-swap-oob="outerHTML" />
<p class="text-red-600" id="input_error" hx-swap-oob="outerHTML">{{if not .}} Please enter a valid number {{end}}</p>
{{end}}
