<!doctype html>
<html lang="en">
  <head>
    <title>Elga Rates</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/output.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="font-sans">
    <main class="flex justify-between">
      <form hx-post="/postReview/" hx-swap="none" class="justify-self-start">
        <div class="flex h-screen flex-col space-y-2 bg-slate-600 p-2">
          <input type="text" name="Album_Name" class="rounded-md bg-slate-500 p-1" />
          <input type="text" name="Score" class="rounded-md bg-slate-500 p-1" id="score_input" />
          <button type="submit" class="w-20 self-end rounded-md bg-blue-400 p-1">submit</button>
        </div>
      </form>

      <ul class="flex w-screen flex-col items-center space-y-2 p-2" id="review_list">
        {{range .Reviews}}
        <li class="flex h-10 w-20 items-center justify-center space-y-2 rounded-md bg-blue-400">
          {{.AlbumName}}, {{.Score}}
        </li>
        {{end}}
      </ul>
    </main>
  </body>
</html>
